<div class="container-fluid bg-dark" >
  <div class="row">


      <div class="search mt-5">
        <div class="row">
          <div class="" style=" display: flex; justify-content: center; align-items: center;">
            <div>
              <div class="bg-dark">
                <i class='bx'></i>
                <input class="searchBar" type="text" placeholder="Enter a recipe here">
                <button id="button" class="searchButton" (click)="BoldText()">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row g-3 mb-5">
      <app-recipe-item [recipesItem]="recipes"></app-recipe-item>
<!--      <div class="col-sm-12 col-md-4 col-lg-2" >-->
<!--        <div class="card border-0">-->
<!--          <a routerLink="recipe" class="list-group-item clearfix">-->
<!--            <img class=" card-img-top" [src]="rcp.imagePath" style="width: available;  " alt="{{rcp.name}}">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">{{rcp.name}}</h5>-->
<!--              <p class="card-text">{{rcp.category}}</p>-->
<!--              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>

  </div>
</div>

<!--<app-recipe-detail></app-recipe-detail>-->




