<div class="container">

<nav class="navbar navbar-expand-lg bg-none ">


  <div class="collapse navbar-collapse mb-5" id="navbarSupportedContent">

    <div class="nav-item dropdown" recipesDropdown>
      <a class=" nav-link me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#e30700; font-size: 1.6rem; font-weight: 600; font-family: Franklin Gothic Demi;" >Recipes</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="asian">Search</a></li>
        <li><a class="dropdown-item" routerLink="centraleuropean">Cooking tips</a></li>
        <li><a class="dropdown-item" routerLink="northamerican">Health matters</a></li>
      </ul>
    </div>
    <a class="navbar-brand mx-lg-3" style="color:#e30700; font-family: Arial Rounded MT Bold; font-weight: 600; font-size: 1.6rem" routerLink="create">New</a>

    <a class="navbar-brand offset-sm-3 " style="color:#e30700; font-family: Franklin Gothic Heavy; font-size: 35px" href="">Cooking Recipes</a>
<!--    <a class="navbar-brand mx-lg-3" style="color:#e30700" routerLink="menu">Menu</a>-->


    <div class="btn-group offset-sm-4 " recipesDropdown>
      <button  type="button" class="btn dropdown-toggle " data-bs-toggle="dropdown"  style="color: #e30700; font-family: Arial Rounded MT Bold;" data-toggle="button" aria-expanded="false">
        <span class="bi bi-heart-fill" style="color:#e30700; font-size: 23px; padding: 0px; "></span>
      </button>
      <ul class="dropdown-menu">
        <li class="mx-3"><a>Sign Up</a></li>
        <li class="mx-3"><a>Log In</a></li>
      </ul>
    </div>

<!--    <a type="button" href="login" class="btn offset-lg-1 me-sm-2 me-md-3 me-lg-4" recipesDropdown >-->
<!--      <fa-icon [icon]="faUsers" class="fa-2x" role="button" style="color:rgb(230,230,230)" ></fa-icon>-->
<!--    </a>-->

<!--    <div class="btn-group" recipesDropdown>-->
<!--      <button  type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"  style="color: lightgray" data-toggle="button" aria-expanded="false">-->
<!--        <fa-icon [icon]="faBars" class="fa-xl" style="color:rgb(230,230,230)"></fa-icon> <span class="fa-caret-down"></span></button>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a>Recipes</a></li>-->
<!--        <li><a>Search</a></li>-->
<!--      </ul>-->
<!--    </div>-->


  </div>
</nav>

<div>
  <h1 class="text-center mt-5 mb-3" style="font-family: Arial Rounded MT Bold; color: black; font-size:210%;">It's cooking time!</h1>
  <h1 class="text-center mt-3 mb-3" style="font-family: Arial Rounded MT Bold; color: black; font-size:170%;">Create, find and taste your favorite recipes.</h1>

</div>



</div>
