<div class="container-fluid bg-transparent">
  <div class="row">
    <div class="col-12">

      <img class="img" alt="Cutting board and vegetables"
           src="https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80">

      <app-navbar></app-navbar>

    </div>
  </div>
</div>

<div class="container-fluid bg-dark routingContainer">
  <router-outlet></router-outlet>
</div>



<div class="container-fluid">
  <div class="row">
  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="#">CookingRecipes</a>
    </div>
    <!-- Copyright -->
  </footer>
  </div>
</div>

