<div class="container-fluid bg-dark" style="height: 100vh;">
  <div class="row">

<p class="titleTxt mt-5" style="font-family: Arial Rounded MT Bold; color: #e30700; font-size:180%; text-align: center; " >Do your magic here!</p>
  <div class="col contextButton">
    <button class="btn btn-outline-success btn-sm btn-block mt-5 b" routerLink="create">Add Recipe</button>
  </div>
    <div class="col contextButton">
    <button class="btn btn-outline-success mt-5 mx-lg-3 b"  routerLink="edit">Edit Recipe</button>
  </div>


  </div>
</div>

